* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Button */

button:focus {
    outline: none;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 0;
    border-radius: 48px;
    box-shadow: inset 0 0 0 1px #0a66c2;
    padding: 10px 24px;
    color: rgb(10, 102, 194);
    transition: 0.3s;
    line-height: 1;
}

.button:hover {
    box-shadow: inset 0 0 0 2px #0a66c2;
    background-color: rgba(10, 102, 194, 0.2);
}

.black {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.7);
    color: rgb(0, 0, 0);
}

.black:hover {
    box-shadow: inset 0 0 0 2px #222;
    background-color: rgba(0, 0, 0, 0.2);
}

.white {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
}

.white:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
}

.white-in {
    background-color: #fff;
    border: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 0;
    border-radius: 48px;
    box-shadow: inset 0 0 0 1px #fff;
    padding: 10px 24px;
    color: black;
    transition: 0.3s;
    line-height: 1;
}

.white-in:hover {
    background-color: #eee;
}

/* Button */

/* Cards */

.card-blue {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-top: 5px solid #626ee3;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.2);
}

.card-green {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-top: 5px solid #62e36d;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.2);
}

.card-black {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-top: 5px solid #333;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.2);
}

/* Cards */

/* Scroll bar */

/* 
width

.container ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

Track

.container ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

Handle

.container ::-webkit-scrollbar-thumb {
    background: #999;
}

Handle on hover

.container ::-webkit-scrollbar-thumb:hover {
    background-color: #777;
} */

/* --Scroll bar-- */

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

/* Profile */

.pr-c {
    display: flex;
}

.pr-1 {
    margin-right: 2rem;
}

.po-c {
    margin-left: 2%;
    width: 68%;
}

.all-t-stats {
    width: 30%;
}

.k-c {
    display: flex;
}

.atr img {
    padding: 7px;
    background: white;
    border-radius: 100%;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 1);
}

.p-name {
    font-weight: bold;
    font-size: 1.9rem;
    display: block;
}

.u-name {
    opacity: 0.8;
    font-size: 1.4rem;
    display: block;
}

.flex-p-u-name {
    display: none;
}

.bio {
    font-weight: bold;
}

.post-search-2 {
    display: none;
}

.e-rp {
    padding: 1rem;
}

@media screen and (max-width: 991px) {
    .po-c {
        margin-left: 0;
        margin-top: 5vh;
        width: 100%;
    }
    .all-t-stats {
        width: 100%;
    }
    .k-c {
        flex-direction: column;
    }
    .pr-c {
        flex-direction: column;
    }
    .related-page-div {
        padding: 1.2rem;
        display: flex;
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .related-page-div::-webkit-scrollbar {
        overflow: hidden;
    }
    .related-page-div .e-rp {
        margin: 5px;
        margin-right: 2rem;
        min-width: 320px;
        width: 320px;
    }
    .post-search-2 {
        display: block;
    }
    .post-search {
        display: none;
    }
    .atr img {
        padding: 3px;
        background: white;
        border: 1px solid black;
        box-shadow: none;
        width: 90px;
        height: 90px;
    }
    .atr {
        display: flex;
        align-items: center;
    }
    .pr-2 .p-name, .pr-2 .u-name {
        display: none;
    }
    .flex-p-u-name {
        display: block;
    }
}

@media screen and (max-width: 340px) {
    .related-page-div .e-rp {
        min-width: 100%;
    }
    .white-div {
        background-color: transparent!important;
    }
    .wld-lk-loin, .related-pages, .about, .community, .rating, .rate-preview {
        padding: 9px 5px!important;
    }
}

/* Posts */

.e-pt {
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 5vh;
    background-color: white;
    border-radius: 14px;
}

.p-img {
    padding: 1.4rem;
    padding-bottom: 0;
}

.p-img img {
    max-height: 80vh;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 14px;
}

.p-cptn {
    padding: 2vh;
}

.l-b-mc, .c-b-mc, .s-b-mc {
    font-size: 1.1rem;
}
.l-b-mc::before, .c-b-mc::before, .s-b-mc::before {
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
}

.l-b-mc:hover {
    color: rgb(224, 36, 94);
}
.l-b-mc:hover::before {
    background-color: rgba(224, 36, 94, 0.1);
}

.c-b-mc:hover{
    color: deepskyblue;
}
.c-b-mc:hover:before{
    background-color: rgba(0, 191, 255, 0.1);
}

.s-b-mc:hover {
    color: rgb(23, 191, 99);
}

.s-b-mc:hover::before {
    background-color: rgba(23, 191, 99, 0.1);
}

.l-b-mc:focus, .l-b-mc:active:focus, .l-b-mc:active:focus, .c-b-mc:focus, .c-b-mc:active:focus, .c-b-mc:active:focus, .s-b-mc:focus, .s-b-mc:active:focus, .s-b-mc:active:focus {
    box-shadow: none;
}

/* Modal */

.modal-content {
    border-radius: 10px;
    padding: 3vh;
}

.white-div {
    background-color: white;
}

.wld-lk-loin, .related-pages, .about, .community, .rating, .rate-preview {
    padding: 2vh;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
}

/* Post Options Modal */

.post-menu {
    font-size: 2.2rem;
}

.o .d-block {
    padding: 1rem;
    text-align: center;
}

.o .d-block:focus {
    background-color: whitesmoke;
    outline: none;
}

#o-mod {
    background-color: white !important;
    border-radius: 16px;
}

/* Like */

.unlike-sl>i, .unlike-sl {
    font-weight: bold;
}

.like-sl>i, .like-sl {
    font-weight: normal;
}

/* input */

.s-inp {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-left: 0;
    padding-right: 0;
}

.s-inp:focus {
    box-shadow: none;
}

/* comments */

.comments {
    max-height: 60vh;
    overflow-y: auto;
}

/* tooltip */

.mytooltip {
    display: inline;
    position: relative;
    z-index: 999;
}

.mytooltip .tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 360px;
    left: 50%;
    margin: 0 0 20px -180px;
    bottom: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    background: #fff;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    padding: 1rem;
}

.mytooltip .tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #eee transparent transparent;
    border-width: 10px;
    margin-left: -10px
}

.mytooltip .tooltip-content img {
    position: relative;
    height: 140px;
    width: 140px;
    display: block;
    float: left;
    margin-right: 1em;
    border-radius: 100%;
}

.mytooltip .tooltip-item::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mytooltip:hover .tooltip-item::after {
    pointer-events: auto
}

.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg)
}

.mytooltip:hover .tooltip-content2 {
    opacity: 1;
    font-size: 18px
}

.mytooltip .tooltip-text {
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 1.31em 1.21em 1.21em 0;
    color: #000;
}